<footer>
    <div class="container">

        <div class="item-1">
            <h2>Sections</h2>
            <nav>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/">Page 2</a></li>
                    <li><a routerLink="/">Page 3</a></li>
                    <li><a routerLink="/">Page 4</a></li>
                </ul>
            </nav>
        </div>

        <div class="item-1">
            <h2>Contact</h2>
            <ul>
                <li><i class="bi bi-whatsapp"></i> +54-341-5950665</li>
                <li><i class="bi bi-envelope"></i> iriplus.business@gmail.com</li>
                <li><i class="bi bi-geo-alt-fill"></i> Rosario, Argentina.</li>
            </ul>
        </div>

        <div class="item-1">
            <h2>Follow Us</h2>
            <ul>
                <li>
                    <i class="bi bi-instagram"></i>
                    <a href="https://www.instagram.com/iri_idiomas_rosario/?hl=es" target="_blank" rel="noopener noreferrer">
                        iri_idiomas_rosario
                    </a>
                </li>

                <li>
                    <i class="bi bi-facebook"></i>
                    <a href="https://www.facebook.com/institutorosarino.deidiomas/?locale=es_LA" target="_blank" rel="noopener noreferrer">
                        Instituto Rosarino de Idiomas
                    </a>
                </li>

                <li>
                    <i class="bi bi-linkedin"></i> IRI?
                </li>
            </ul>
        </div>

    </div>
</footer>
