<main class="header-container">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">

      <!--Logo -->
      <a class="navbar-brand brand-logo" routerLink="/">
        <img src="assets/logo.png" alt="IRI+ Logo" class="logo-img">
      </a>

      <!--Toggle btn-->
      <button 
        class="navbar-toggler custom-toggler" 
        type="button" 
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" 
        aria-controls="offcanvasNavbar" 
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--SideBar -->
      <div class="offcanvas offcanvas-start custom-offcanvas" id="offcanvasNavbar">
        <!--SideBar Header-->
        <div class="offcanvas-header">
          <h5 class="offcanvas-title brand-title">IRI+</h5>
          <button type="button" class="btn-close custom-close" data-bs-dismiss="offcanvas"></button>
        </div>

        <!--SideBar Body-->
        <div class="offcanvas-body nav-body">
          <ul class="navbar-nav nav-links">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/">Page2</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/">Page3</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/">Page4</a></li>
          </ul>
          <!--Login / Sign up or User info-->         
          <div class="dropdown">
            <button class="dropdown-toggle dropdown-trigger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i>
            </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-person-gear"></i><span>Mis datos</span></a></li>
                <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-person-x"></i>Cerrar Sesión</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </nav>
</main>