/********** Container **********/
.header-container {
  background-color: var(--color-slate);
  border-bottom: 2px solid var(--color-olive);
}

/********** Navbar **********/
.custom-navbar {
  padding: 1rem 0;
}

/********** Brand **********/
.brand-title {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--color-ivory);
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo:hover .logo-img {
  transform: scale(1.08);
}

/********** Logo **********/
.logo-img {
  height: 42px;
  transition: transform 0.25s ease;
  user-select: none;
}

/********** Nav links **********/
.nav-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 0;
}
@media (min-width: 992px) {
  .nav-body {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: row;
    gap: 2rem;
    flex-grow: 1;
    justify-content: center;
  }
}

.nav-link {
  color: var(--color-ivory) !important;
  font-weight: 500;
  font-size: 1.15rem;
  transition: 0.25s ease;
}
.nav-link:hover {
  color: var(--color-beige) !important;
  transform: translateY(-2px);
}

/********** Sidebar (Mobile) **********/
.custom-offcanvas {
  background-color: var(--color-slate);
}
.custom-close {
  filter: invert(1);
}

/********** Auth Buttons **********/
.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-signup,
.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem, 1.2rem;
  min-width: 90px;
  min-height: 45px;
  text-align: center;
}

.btn-signup {
  color: var(--color-ivory);
  text-decoration: none;
  border: 2px solid var(--color-beige);
  border-radius: var(--radius-md);
  transition: all 0.25s ease;
}

.btn-signup:hover {
  background-color: var(--color-beige);
  color: var(--color-slate);
  transform: translateY(-2px);
}

.btn-login {
  background-color: var(--color-sage);
  color: var(--color-slate);
  text-decoration: none;
  border-radius: var(--radius-md);
  transition: all 0.25s ease;
}
.btn-login:hover {
  background-color: var(--color-terracotta);
  color: var(--color-ivory);
  transform: translateY(-2px);
}

/********** Toggler **********/
.custom-toggler {
  filter: invert(90%);
}

.dropdown-trigger {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 45px;
  min-height: 45px;
  padding: 0.45rem 1.2rem;

  background-color: var(--color-sage);
  color: var(--color-slate);

  border-radius: var(--radius-md);
  border: none;

  transition: all 0.25s ease;
}

/* Hover */
.dropdown-trigger:hover {
  background-color: var(--color-terracotta);
  color: var(--color-ivory);
  transform: translateY(-2px);
}

/* Quitar flechita default */
.dropdown-toggle::after {
  display: none;
}


.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}