<div class="landing-container">

  <!-- Principal buttons container -->
  <section class="hero-actions">
    <button class="action-btn">Practice</button>
    <button class="action-btn" type="button" (click)="goTo('/teacher-exam')">Generate Exam</button>
  </section>

  <!-- Table (Empty ATM) -->
  <section class="exams-section">
    <h2 class="section-title">My Exams</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Coordinator</th>
          <th>Class</th>
          <th>Student</th>
          <th>Teacher</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will go here in the future -->
      </tbody>
    </table>
  </section>

</div>
